---
title: A page for you
layout: base.njk
---

<div class="container">
  <h1>This is a page for you</h1>
  <div class="vibe">You are great!</div>
  <div class="love">
    ❤️
  </div>

  <ul>
  {% for article in news.articles %}
    <li>
      <p>
        <a target="_blank" href="{{ article.url }}">
          {{ article.title }}
        </a>
      </p>
    </li>
  {% endfor %}
  </ul>

  <script src="/js/vibe.js"></script>
</div>